#  Stock Market Dataset

ref: https://www.kaggle.com/borismarjanovic/price-volume-data-for-all-us-stocks-etfs

This is the data we will use to train the models that will be used by our Dash web app.

In [58]:
import os
import random

import pandas as pd
import numpy as np

import datetime
import time

import plotly
import plotly.plotly as py
import plotly.graph_objs as go

## EDA

Load 5 random files.

In [2]:
os.chdir('data/Stocks/')

filenames = random.sample([x for x in os.listdir() if x.endswith('.txt') 
                           and os.path.getsize(os.path.join('',x)) > 0], 8)
print(filenames)

['vnce.us.txt', 'bt.us.txt', 'mhh.us.txt', 'wrls.us.txt', 'botj.us.txt', 'rnlc.us.txt', 'djd.us.txt', 'ibml.us.txt']

In [4]:
df = []
for i in range(len(filenames)):
    df.append(pd.read_csv(filenames[i], sep=',')[['Date', 'Close']])

In [5]:
df[0]

           Date     Close
0    2013-11-22  286.6000
1    2013-11-25  277.5000
2    2013-11-26  290.0000
3    2013-11-27  297.0000
4    2013-11-29  292.7000
5    2013-12-02  291.8000
6    2013-12-03  293.4000
7    2013-12-04  291.5000
8    2013-12-05  293.8000
9    2013-12-06  291.0000
10   2013-12-09  304.2000
11   2013-12-10  309.8000
12   2013-12-11  315.5000
13   2013-12-12  311.6000
14   2013-12-13  318.4000
15   2013-12-16  316.7000
16   2013-12-17  308.0000
17   2013-12-18  304.4000
18   2013-12-19  300.0000
19   2013-12-20  305.4000
20   2013-12-23  299.8000
21   2013-12-24  293.2000
22   2013-12-26  293.7000
23   2013-12-27  294.0000
24   2013-12-30  301.7000
25   2013-12-31  306.7000
26   2014-01-02  299.5000
27   2014-01-03  293.2000
28   2014-01-06  279.5000
29   2014-01-07  272.1000
..          ...       ...
970  2017-10-02    6.1730
971  2017-10-03    6.0010
972  2017-10-04    6.0260
973  2017-10-05    6.1010
974  2017-10-06    6.1000
975  2017-10-09    5.5200
976  2017-10-10    5.5000
977  2017-10-11    5.5990
978  2017-10-12    5.1000
979  2017-10-13    5.0030
980  2017-10-16    5.1000
981  2017-10-17    4.9000
982  2017-10-18    4.8520
983  2017-10-19    4.6670
984  2017-10-20    4.5000
985  2017-10-23    4.5000
986  2017-10-24    4.4099
987  2017-10-25    4.2000
988  2017-10-26    4.2700
989  2017-10-27    3.6800
990  2017-10-30    3.7800
991  2017-10-31    3.6100
992  2017-11-01    3.6500
993  2017-11-02    3.9000
994  2017-11-03    3.6000
995  2017-11-06    3.4800
996  2017-11-07    3.3900
997  2017-11-08    3.2200
998  2017-11-09    3.2700
999  2017-11-10    3.3200

[1000 rows x 2 columns]

The data seems to be incomplete.

In [33]:
df[0]['Date'] = pd.DatetimeIndex(data=df[0]['Date'])
dates = df[0]['Date']

DAY = datetime.timedelta(days=1)
missing = [(d1+DAY, d2) for d1, d2 in zip(dates, dates[1:]) if (d2 - d1) > DAY]

missing

[(Timestamp('2013-11-23 00:00:00'), Timestamp('2013-11-25 00:00:00')),
 (Timestamp('2013-11-28 00:00:00'), Timestamp('2013-11-29 00:00:00')),
 (Timestamp('2013-11-30 00:00:00'), Timestamp('2013-12-02 00:00:00')),
 (Timestamp('2013-12-07 00:00:00'), Timestamp('2013-12-09 00:00:00')),
 (Timestamp('2013-12-14 00:00:00'), Timestamp('2013-12-16 00:00:00')),
 (Timestamp('2013-12-21 00:00:00'), Timestamp('2013-12-23 00:00:00')),
 (Timestamp('2013-12-25 00:00:00'), Timestamp('2013-12-26 00:00:00')),
 (Timestamp('2013-12-28 00:00:00'), Timestamp('2013-12-30 00:00:00')),
 (Timestamp('2014-01-01 00:00:00'), Timestamp('2014-01-02 00:00:00')),
 (Timestamp('2014-01-04 00:00:00'), Timestamp('2014-01-06 00:00:00')),
 (Timestamp('2014-01-11 00:00:00'), Timestamp('2014-01-13 00:00:00')),
 (Timestamp('2014-01-18 00:00:00'), Timestamp('2014-01-21 00:00:00')),
 (Timestamp('2014-01-25 00:00:00'), Timestamp('2014-01-27 00:00:00')),
 (Timestamp('2014-02-01 00:00:00'), Timestamp('2014-02-03 00:00:00')),
 (Timestamp('2014-02-08 00:00:00'), Timestamp('2014-02-10 00:00:00')),
 (Timestamp('2014-02-15 00:00:00'), Timestamp('2014-02-18 00:00:00')),
 (Timestamp('2014-02-22 00:00:00'), Timestamp('2014-02-24 00:00:00')),
 (Timestamp('2014-03-01 00:00:00'), Timestamp('2014-03-03 00:00:00')),
 (Timestamp('2014-03-08 00:00:00'), Timestamp('2014-03-10 00:00:00')),
 (Timestamp('2014-03-15 00:00:00'), Timestamp('2014-03-17 00:00:00')),
 (Timestamp('2014-03-22 00:00:00'), Timestamp('2014-03-24 00:00:00')),
 (Timestamp('2014-03-29 00:00:00'), Timestamp('2014-03-31 00:00:00')),
 (Timestamp('2014-04-05 00:00:00'), Timestamp('2014-04-07 00:00:00')),
 (Timestamp('2014-04-12 00:00:00'), Timestamp('2014-04-14 00:00:00')),
 (Timestamp('2014-04-18 00:00:00'), Timestamp('2014-04-21 00:00:00')),
 (Timestamp('2014-04-26 00:00:00'), Timestamp('2014-04-28 00:00:00')),
 (Timestamp('2014-05-03 00:00:00'), Timestamp('2014-05-05 00:00:00')),
 (Timestamp('2014-05-10 00:00:00'), Timestamp('2014-05-12 00:00:00')),
 (Timestamp('2014-05-17 00:00:00'), Timestamp('2014-05-19 00:00:00')),
 (Timestamp('2014-05-24 00:00:00'), Timestamp('2014-05-27 00:00:00')),
 (Timestamp('2014-05-31 00:00:00'), Timestamp('2014-06-02 00:00:00')),
 (Timestamp('2014-06-07 00:00:00'), Timestamp('2014-06-09 00:00:00')),
 (Timestamp('2014-06-14 00:00:00'), Timestamp('2014-06-16 00:00:00')),
 (Timestamp('2014-06-21 00:00:00'), Timestamp('2014-06-23 00:00:00')),
 (Timestamp('2014-06-28 00:00:00'), Timestamp('2014-06-30 00:00:00')),
 (Timestamp('2014-07-04 00:00:00'), Timestamp('2014-07-07 00:00:00')),
 (Timestamp('2014-07-12 00:00:00'), Timestamp('2014-07-14 00:00:00')),
 (Timestamp('2014-07-19 00:00:00'), Timestamp('2014-07-21 00:00:00')),
 (Timestamp('2014-07-26 00:00:00'), Timestamp('2014-07-28 00:00:00')),
 (Timestamp('2014-08-02 00:00:00'), Timestamp('2014-08-04 00:00:00')),
 (Timestamp('2014-08-09 00:00:00'), Timestamp('2014-08-11 00:00:00')),
 (Timestamp('2014-08-16 00:00:00'), Timestamp('2014-08-18 00:00:00')),
 (Timestamp('2014-08-23 00:00:00'), Timestamp('2014-08-25 00:00:00')),
 (Timestamp('2014-08-30 00:00:00'), Timestamp('2014-09-02 00:00:00')),
 (Timestamp('2014-09-06 00:00:00'), Timestamp('2014-09-08 00:00:00')),
 (Timestamp('2014-09-13 00:00:00'), Timestamp('2014-09-15 00:00:00')),
 (Timestamp('2014-09-20 00:00:00'), Timestamp('2014-09-22 00:00:00')),
 (Timestamp('2014-09-27 00:00:00'), Timestamp('2014-09-29 00:00:00')),
 (Timestamp('2014-10-04 00:00:00'), Timestamp('2014-10-06 00:00:00')),
 (Timestamp('2014-10-11 00:00:00'), Timestamp('2014-10-13 00:00:00')),
 (Timestamp('2014-10-18 00:00:00'), Timestamp('2014-10-20 00:00:00')),
 (Timestamp('2014-10-25 00:00:00'), Timestamp('2014-10-27 00:00:00')),
 (Timestamp('2014-11-01 00:00:00'), Timestamp('2014-11-03 00:00:00')),
 (Timestamp('2014-11-08 00:00:00'), Timestamp('2014-11-10 00:00:00')),
 (Timestamp('2014-11-15 00:00:00'), Timestamp('2014-11-17 00:00:00')),
 (Timestamp('2014-11-22 00:00:00'), Timestamp('2014-11-24 00:00:00')),
 (Timestamp('2014-11-27 00:00:00'), Timestamp('2014-11-28 00:00:00')),
 (Timestamp('2014-11-29 00:00:00'), Timestamp('2014-12-01 00:00:00')),
 (Timestamp('2014-12-06 00:00:00'), Timestamp('2014-12-08 00:00:00')),
 (Timestamp('2014-12-13 00:00:00'), Timestamp('2014-12-15 00:00:00')),
 (Timestamp('2014-12-20 00:00:00'), Timestamp('2014-12-22 00:00:00')),
 (Timestamp('2014-12-25 00:00:00'), Timestamp('2014-12-26 00:00:00')),
 (Timestamp('2014-12-27 00:00:00'), Timestamp('2014-12-29 00:00:00')),
 (Timestamp('2015-01-01 00:00:00'), Timestamp('2015-01-02 00:00:00')),
 (Timestamp('2015-01-03 00:00:00'), Timestamp('2015-01-05 00:00:00')),
 (Timestamp('2015-01-10 00:00:00'), Timestamp('2015-01-12 00:00:00')),
 (Timestamp('2015-01-17 00:00:00'), Timestamp('2015-01-20 00:00:00')),
 (Timestamp('2015-01-24 00:00:00'), Timestamp('2015-01-26 00:00:00')),
 (Timestamp('2015-01-31 00:00:00'), Timestamp('2015-02-02 00:00:00')),
 (Timestamp('2015-02-07 00:00:00'), Timestamp('2015-02-09 00:00:00')),
 (Timestamp('2015-02-14 00:00:00'), Timestamp('2015-02-17 00:00:00')),
 (Timestamp('2015-02-21 00:00:00'), Timestamp('2015-02-23 00:00:00')),
 (Timestamp('2015-02-28 00:00:00'), Timestamp('2015-03-02 00:00:00')),
 (Timestamp('2015-03-07 00:00:00'), Timestamp('2015-03-09 00:00:00')),
 (Timestamp('2015-03-14 00:00:00'), Timestamp('2015-03-16 00:00:00')),
 (Timestamp('2015-03-21 00:00:00'), Timestamp('2015-03-23 00:00:00')),
 (Timestamp('2015-03-28 00:00:00'), Timestamp('2015-03-30 00:00:00')),
 (Timestamp('2015-04-03 00:00:00'), Timestamp('2015-04-06 00:00:00')),
 (Timestamp('2015-04-11 00:00:00'), Timestamp('2015-04-13 00:00:00')),
 (Timestamp('2015-04-18 00:00:00'), Timestamp('2015-04-20 00:00:00')),
 (Timestamp('2015-04-25 00:00:00'), Timestamp('2015-04-27 00:00:00')),
 (Timestamp('2015-05-02 00:00:00'), Timestamp('2015-05-04 00:00:00')),
 (Timestamp('2015-05-09 00:00:00'), Timestamp('2015-05-11 00:00:00')),
 (Timestamp('2015-05-16 00:00:00'), Timestamp('2015-05-18 00:00:00')),
 (Timestamp('2015-05-23 00:00:00'), Timestamp('2015-05-26 00:00:00')),
 (Timestamp('2015-05-30 00:00:00'), Timestamp('2015-06-01 00:00:00')),
 (Timestamp('2015-06-06 00:00:00'), Timestamp('2015-06-08 00:00:00')),
 (Timestamp('2015-06-13 00:00:00'), Timestamp('2015-06-15 00:00:00')),
 (Timestamp('2015-06-20 00:00:00'), Timestamp('2015-06-22 00:00:00')),
 (Timestamp('2015-06-27 00:00:00'), Timestamp('2015-06-29 00:00:00')),
 (Timestamp('2015-07-03 00:00:00'), Timestamp('2015-07-06 00:00:00')),
 (Timestamp('2015-07-11 00:00:00'), Timestamp('2015-07-13 00:00:00')),
 (Timestamp('2015-07-18 00:00:00'), Timestamp('2015-07-20 00:00:00')),
 (Timestamp('2015-07-25 00:00:00'), Timestamp('2015-07-27 00:00:00')),
 (Timestamp('2015-08-01 00:00:00'), Timestamp('2015-08-03 00:00:00')),
 (Timestamp('2015-08-08 00:00:00'), Timestamp('2015-08-10 00:00:00')),
 (Timestamp('2015-08-15 00:00:00'), Timestamp('2015-08-17 00:00:00')),
 (Timestamp('2015-08-22 00:00:00'), Timestamp('2015-08-24 00:00:00')),
 (Timestamp('2015-08-29 00:00:00'), Timestamp('2015-08-31 00:00:00')),
 (Timestamp('2015-09-05 00:00:00'), Timestamp('2015-09-08 00:00:00')),
 (Timestamp('2015-09-12 00:00:00'), Timestamp('2015-09-14 00:00:00')),
 (Timestamp('2015-09-19 00:00:00'), Timestamp('2015-09-21 00:00:00')),
 (Timestamp('2015-09-26 00:00:00'), Timestamp('2015-09-28 00:00:00')),
 (Timestamp('2015-10-03 00:00:00'), Timestamp('2015-10-05 00:00:00')),
 (Timestamp('2015-10-10 00:00:00'), Timestamp('2015-10-12 00:00:00')),
 (Timestamp('2015-10-17 00:00:00'), Timestamp('2015-10-19 00:00:00')),
 (Timestamp('2015-10-24 00:00:00'), Timestamp('2015-10-26 00:00:00')),
 (Timestamp('2015-10-31 00:00:00'), Timestamp('2015-11-02 00:00:00')),
 (Timestamp('2015-11-07 00:00:00'), Timestamp('2015-11-09 00:00:00')),
 (Timestamp('2015-11-14 00:00:00'), Timestamp('2015-11-16 00:00:00')),
 (Timestamp('2015-11-21 00:00:00'), Timestamp('2015-11-23 00:00:00')),
 (Timestamp('2015-11-26 00:00:00'), Timestamp('2015-11-27 00:00:00')),
 (Timestamp('2015-11-28 00:00:00'), Timestamp('2015-11-30 00:00:00')),
 (Timestamp('2015-12-05 00:00:00'), Timestamp('2015-12-07 00:00:00')),
 (Timestamp('2015-12-12 00:00:00'), Timestamp('2015-12-14 00:00:00')),
 (Timestamp('2015-12-19 00:00:00'), Timestamp('2015-12-21 00:00:00')),
 (Timestamp('2015-12-25 00:00:00'), Timestamp('2015-12-28 00:00:00')),
 (Timestamp('2016-01-01 00:00:00'), Timestamp('2016-01-04 00:00:00')),
 (Timestamp('2016-01-09 00:00:00'), Timestamp('2016-01-11 00:00:00')),
 (Timestamp('2016-01-16 00:00:00'), Timestamp('2016-01-19 00:00:00')),
 (Timestamp('2016-01-23 00:00:00'), Timestamp('2016-01-25 00:00:00')),
 (Timestamp('2016-01-30 00:00:00'), Timestamp('2016-02-01 00:00:00')),
 (Timestamp('2016-02-06 00:00:00'), Timestamp('2016-02-08 00:00:00')),
 (Timestamp('2016-02-13 00:00:00'), Timestamp('2016-02-16 00:00:00')),
 (Timestamp('2016-02-20 00:00:00'), Timestamp('2016-02-22 00:00:00')),
 (Timestamp('2016-02-27 00:00:00'), Timestamp('2016-02-29 00:00:00')),
 (Timestamp('2016-03-05 00:00:00'), Timestamp('2016-03-07 00:00:00')),
 (Timestamp('2016-03-12 00:00:00'), Timestamp('2016-03-14 00:00:00')),
 (Timestamp('2016-03-19 00:00:00'), Timestamp('2016-03-21 00:00:00')),
 (Timestamp('2016-03-25 00:00:00'), Timestamp('2016-03-28 00:00:00')),
 (Timestamp('2016-04-02 00:00:00'), Timestamp('2016-04-04 00:00:00')),
 (Timestamp('2016-04-09 00:00:00'), Timestamp('2016-04-11 00:00:00')),
 (Timestamp('2016-04-16 00:00:00'), Timestamp('2016-04-18 00:00:00')),
 (Timestamp('2016-04-23 00:00:00'), Timestamp('2016-04-25 00:00:00')),
 (Timestamp('2016-04-30 00:00:00'), Timestamp('2016-05-02 00:00:00')),
 (Timestamp('2016-05-07 00:00:00'), Timestamp('2016-05-09 00:00:00')),
 (Timestamp('2016-05-14 00:00:00'), Timestamp('2016-05-16 00:00:00')),
 (Timestamp('2016-05-21 00:00:00'), Timestamp('2016-05-23 00:00:00')),
 (Timestamp('2016-05-28 00:00:00'), Timestamp('2016-05-31 00:00:00')),
 (Timestamp('2016-06-04 00:00:00'), Timestamp('2016-06-06 00:00:00')),
 (Timestamp('2016-06-11 00:00:00'), Timestamp('2016-06-13 00:00:00')),
 (Timestamp('2016-06-18 00:00:00'), Timestamp('2016-06-20 00:00:00')),
 (Timestamp('2016-06-25 00:00:00'), Timestamp('2016-06-27 00:00:00')),
 (Timestamp('2016-07-02 00:00:00'), Timestamp('2016-07-05 00:00:00')),
 (Timestamp('2016-07-09 00:00:00'), Timestamp('2016-07-11 00:00:00')),
 (Timestamp('2016-07-16 00:00:00'), Timestamp('2016-07-18 00:00:00')),
 (Timestamp('2016-07-23 00:00:00'), Timestamp('2016-07-25 00:00:00')),
 (Timestamp('2016-07-30 00:00:00'), Timestamp('2016-08-01 00:00:00')),
 (Timestamp('2016-08-06 00:00:00'), Timestamp('2016-08-08 00:00:00')),
 (Timestamp('2016-08-13 00:00:00'), Timestamp('2016-08-15 00:00:00')),
 (Timestamp('2016-08-20 00:00:00'), Timestamp('2016-08-22 00:00:00')),
 (Timestamp('2016-08-27 00:00:00'), Timestamp('2016-08-29 00:00:00')),
 (Timestamp('2016-09-03 00:00:00'), Timestamp('2016-09-06 00:00:00')),
 (Timestamp('2016-09-10 00:00:00'), Timestamp('2016-09-12 00:00:00')),
 (Timestamp('2016-09-17 00:00:00'), Timestamp('2016-09-19 00:00:00')),
 (Timestamp('2016-09-24 00:00:00'), Timestamp('2016-09-26 00:00:00')),
 (Timestamp('2016-10-01 00:00:00'), Timestamp('2016-10-03 00:00:00')),
 (Timestamp('2016-10-08 00:00:00'), Timestamp('2016-10-10 00:00:00')),
 (Timestamp('2016-10-15 00:00:00'), Timestamp('2016-10-17 00:00:00')),
 (Timestamp('2016-10-22 00:00:00'), Timestamp('2016-10-24 00:00:00')),
 (Timestamp('2016-10-29 00:00:00'), Timestamp('2016-10-31 00:00:00')),
 (Timestamp('2016-11-05 00:00:00'), Timestamp('2016-11-07 00:00:00')),
 (Timestamp('2016-11-12 00:00:00'), Timestamp('2016-11-14 00:00:00')),
 (Timestamp('2016-11-19 00:00:00'), Timestamp('2016-11-21 00:00:00')),
 (Timestamp('2016-11-24 00:00:00'), Timestamp('2016-11-25 00:00:00')),
 (Timestamp('2016-11-26 00:00:00'), Timestamp('2016-11-28 00:00:00')),
 (Timestamp('2016-12-03 00:00:00'), Timestamp('2016-12-05 00:00:00')),
 (Timestamp('2016-12-10 00:00:00'), Timestamp('2016-12-12 00:00:00')),
 (Timestamp('2016-12-17 00:00:00'), Timestamp('2016-12-19 00:00:00')),
 (Timestamp('2016-12-24 00:00:00'), Timestamp('2016-12-27 00:00:00')),
 (Timestamp('2016-12-31 00:00:00'), Timestamp('2017-01-03 00:00:00')),
 (Timestamp('2017-01-07 00:00:00'), Timestamp('2017-01-09 00:00:00')),
 (Timestamp('2017-01-14 00:00:00'), Timestamp('2017-01-17 00:00:00')),
 (Timestamp('2017-01-21 00:00:00'), Timestamp('2017-01-23 00:00:00')),
 (Timestamp('2017-01-28 00:00:00'), Timestamp('2017-01-30 00:00:00')),
 (Timestamp('2017-02-04 00:00:00'), Timestamp('2017-02-06 00:00:00')),
 (Timestamp('2017-02-11 00:00:00'), Timestamp('2017-02-13 00:00:00')),
 (Timestamp('2017-02-18 00:00:00'), Timestamp('2017-02-21 00:00:00')),
 (Timestamp('2017-02-25 00:00:00'), Timestamp('2017-02-27 00:00:00')),
 (Timestamp('2017-03-04 00:00:00'), Timestamp('2017-03-06 00:00:00')),
 (Timestamp('2017-03-11 00:00:00'), Timestamp('2017-03-13 00:00:00')),
 (Timestamp('2017-03-18 00:00:00'), Timestamp('2017-03-20 00:00:00')),
 (Timestamp('2017-03-25 00:00:00'), Timestamp('2017-03-27 00:00:00')),
 (Timestamp('2017-04-01 00:00:00'), Timestamp('2017-04-03 00:00:00')),
 (Timestamp('2017-04-08 00:00:00'), Timestamp('2017-04-10 00:00:00')),
 (Timestamp('2017-04-14 00:00:00'), Timestamp('2017-04-17 00:00:00')),
 (Timestamp('2017-04-22 00:00:00'), Timestamp('2017-04-24 00:00:00')),
 (Timestamp('2017-04-29 00:00:00'), Timestamp('2017-05-01 00:00:00')),
 (Timestamp('2017-05-06 00:00:00'), Timestamp('2017-05-08 00:00:00')),
 (Timestamp('2017-05-13 00:00:00'), Timestamp('2017-05-15 00:00:00')),
 (Timestamp('2017-05-20 00:00:00'), Timestamp('2017-05-22 00:00:00')),
 (Timestamp('2017-05-27 00:00:00'), Timestamp('2017-05-30 00:00:00')),
 (Timestamp('2017-06-03 00:00:00'), Timestamp('2017-06-05 00:00:00')),
 (Timestamp('2017-06-10 00:00:00'), Timestamp('2017-06-12 00:00:00')),
 (Timestamp('2017-06-17 00:00:00'), Timestamp('2017-06-19 00:00:00')),
 (Timestamp('2017-06-24 00:00:00'), Timestamp('2017-06-26 00:00:00')),
 (Timestamp('2017-07-01 00:00:00'), Timestamp('2017-07-03 00:00:00')),
 (Timestamp('2017-07-04 00:00:00'), Timestamp('2017-07-05 00:00:00')),
 (Timestamp('2017-07-08 00:00:00'), Timestamp('2017-07-10 00:00:00')),
 (Timestamp('2017-07-15 00:00:00'), Timestamp('2017-07-17 00:00:00')),
 (Timestamp('2017-07-22 00:00:00'), Timestamp('2017-07-24 00:00:00')),
 (Timestamp('2017-07-29 00:00:00'), Timestamp('2017-07-31 00:00:00')),
 (Timestamp('2017-08-05 00:00:00'), Timestamp('2017-08-07 00:00:00')),
 (Timestamp('2017-08-12 00:00:00'), Timestamp('2017-08-14 00:00:00')),
 (Timestamp('2017-08-19 00:00:00'), Timestamp('2017-08-21 00:00:00')),
 (Timestamp('2017-08-26 00:00:00'), Timestamp('2017-08-28 00:00:00')),
 (Timestamp('2017-09-02 00:00:00'), Timestamp('2017-09-05 00:00:00')),
 (Timestamp('2017-09-09 00:00:00'), Timestamp('2017-09-11 00:00:00')),
 (Timestamp('2017-09-16 00:00:00'), Timestamp('2017-09-18 00:00:00')),
 (Timestamp('2017-09-23 00:00:00'), Timestamp('2017-09-25 00:00:00')),
 (Timestamp('2017-09-30 00:00:00'), Timestamp('2017-10-02 00:00:00')),
 (Timestamp('2017-10-07 00:00:00'), Timestamp('2017-10-09 00:00:00')),
 (Timestamp('2017-10-14 00:00:00'), Timestamp('2017-10-16 00:00:00')),
 (Timestamp('2017-10-21 00:00:00'), Timestamp('2017-10-23 00:00:00')),
 (Timestamp('2017-10-28 00:00:00'), Timestamp('2017-10-30 00:00:00')),
 (Timestamp('2017-11-04 00:00:00'), Timestamp('2017-11-06 00:00:00'))]

Most of the missing days are holiday and week-ends: they occur every 5 days and have a span of 2 days. We should filter the company stock data that we want to use to train our models.

In [55]:
def has_nan(df):
    return df.isnull().values.any()

In [51]:
def has_few_data(df):
    if(df.shape[0] < 2000):
        return True
    
    return False

In [59]:
def use_company_data(df):
    if(has_nan(df)):
        return False
    elif(has_few_data(df)):
        return False
    else:
        return True

start = time.time()
for i in range(len(df)):
    use_company_data(df[i])
end = time.time()
print(end-start)

0.003994464874267578

In [66]:
files = []
for file in os.listdir():
    try:
        df = pd.read_csv(file, sep=',')
        if(use_company_data( df )):
            files.append(file)
    except:
        continue

In [68]:
len(files)

3429

## Data Vizualization

In [70]:
df = []
for i in range(5):
    df.append(pd.read_csv(files[i], sep=',')[['Date', 'Close']])

In [71]:
plotly.tools.set_credentials_file(username='Fournierp', api_key='oTCE0D66pVKwpN2e6JQn')

trace_one = go.Scatter(
    x = df[0]['Date'],
    y = df[0]['Close'],
    name = filenames[0][-11:-7] + " Close",
    line = dict(color = '#ea0e0e'),
    opacity = 0.8)

trace_two = go.Scatter(
    x = df[1]['Date'],
    y = df[1]['Close'],
    name = filenames[1][-11:-7] + " Close",
    line = dict(color = '#000000'),
    opacity = 0.8)

trace_three = go.Scatter(
    x = df[2]['Date'],
    y = df[2]['Close'],
    name = filenames[2][-11:-7] + " Close",
    line = dict(color = '#26fc05'),
    opacity = 0.8)

trace_four = go.Scatter(
    x = df[3]['Date'],
    y = df[3]['Close'],
    name = filenames[3][-11:-7] + " Close",
    line = dict(color = '#0542fc'),
    opacity = 0.8)

trace_five = go.Scatter(
    x = df[4]['Date'],
    y = df[4]['Close'],
    name = filenames[4][-11:-7] + " Close",
    line = dict(color = '#fc05f8'),
    opacity = 0.8)

data = [trace_one, trace_two, trace_three, trace_four]

layout = dict(
    title='Time Series',
    xaxis=dict(
        rangeselector=dict(
            buttons=list([
                dict(count=1,
                     label='1m',
                     step='month',
                     stepmode='backward'),
                dict(count=6,
                     label='6m',
                     step='month',
                     stepmode='backward'),
                dict(step='all')
            ])
        ),
        rangeslider=dict(
            visible = True
        ),
        type='date'
    )
)

fig = dict(data=data, layout=layout)
py.iplot(fig)

C:\Users\Paul\AppData\Local\Continuum\anaconda3\lib\site-packages\IPython\core\display.py:689: UserWarning:

Consider using IPython.display.IFrame instead